@model PaginationViewModel<BodyMaterialViewModel>

@{
    ViewData["Title"] = "Body Material List";
}

<div class="admin_wrapper">
    <div class="admin_panel">
        <table class="table_price">
            <caption>Product</caption>
            <tr>
                <th>
                    Title
                </th>
                <th></th>
                <th></th>
            </tr>
            @foreach (var bm in Model.Items)
             {
            <tr>
                <td>
                    @bm.Title
                </td>
                <td>
                    <a asp-controller="Admin" asp-action="DeleteBodyMaterial" asp-route-cartId="@bm.Id">
                        <svg class="delete-svg" viewBox="0 0 512 512">
                            <use xlink:href="/images/icons/delete.svg#delete"></use>
                        </svg>
                    </a>
                </td>
                <td>
                    <a asp-controller="Admin" asp-action="EditBodyMaterial" asp-route-cartId="@bm.Id">
                        <svg class="delete-svg" viewBox="0 0 512 512">
                            <use xlink:href="/images/icons/pencil.svg#delete"></use>
                        </svg>
                    </a>
                </td>
            </tr>
             }
        </table>
        <a asp-controller="Admin" asp-action="CreateBodyMaterial">
            <div class="add__button"></div>
        </a>
    </div>
</div>