@{
    ViewBag.Title = "Admin Panel";
}

<div class="login-register">
    <div class="login-register__container">
        <div class="login-register__header">
            <h3 class="login-register__title title_active">
                Admin Panel
            </h3>
        </div>
        <div class="login-register__froms">
            <a href="Admin/BodyMaterial/GetBodyMaterialList">Body Material</a><br/>
            <a href="Admin/Color/GetColorList">Color</a><br />
            <a href="Admin/GlassMaterial/GetGlassMaterialList">Glass Material</a><br />
            <a href="Admin/Manufacturer/GetManufacturerList">Manufacturer</a><br />
            <a href="Admin/WristSize/GetWristSizeList">Wrist Size</a><br />
        </div>
    </div>
</div>