@{
    ViewBag.Title = "Admin Panel";
}

<div class="login-register">
    <div class="login-register__container">
        <div class="login-register__header">
            <h3 class="login-register__title title_active">
                Admin Panel
            </h3>
        </div>
        <div class="login-register__froms">
            <a href="Admin/BodyMaterial/GetBodyMaterialList">Body Material</a>
            <a href="Admin/Color/GetColorList">Color</a>
        </div>
    </div>
</div>